h1 {
    margin-left: 30px;
}

.owned-single-tourney {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #1d856d;
}
